.container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  min-height: 728px;
  transition: all ease-in-out 0.4s;
}

/* LEFT */
.leftContent {
  flex: 0.6;
  height: 480px;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flag {
  border-radius: 12px;
}

.country_name {
  font-size: 32px;
  font-weight: 600;
  margin-top: 24.4px;
  color: var(--text-333);
}

.country_region {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.country_info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.top {
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
}
/* RIGHT */
.rightContent {
  flex: 2;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  padding: 30px 0;
}

.detail {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-333);
  margin-left: 50px;
  margin-bottom: 24px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-clr);
  padding: 0 50px;
  height: 72px;
  text-transform: capitalize;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}

.gini {
  margin-right: -48px;
}

.last_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px;
  margin-top: 46px;
  text-transform: capitalize;
}

/* BORDERS */
.borders {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 28px;
  row-gap: 0px;
}

.border_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.border_name {
  font-size: 12px;
  font-weight: 400;
  width: 78px;
  color: var(--text-dark);
  text-align: center;
}

.border_flag {
  /* width: 78px; */
  /* height: 58px; */
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .country_info {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    width: 700px;
  }
  .country_info {
    flex-direction: row;
  }
}

@media (max-width: 775px) {
  .container {
    flex-direction: column;
    width: 400px;
  }
}
