.container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  height: 728px;
}

.leftContent {
  flex: 0.6;
  height: 480px;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rightContent {
  flex: 2;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
}

.flag {
  border-radius: 12px;
}

.country_name {
  font-size: 32px;
  font-weight: 600;
  margin-top: 24.4px;
  color: var(--text-333);
}

.country_region {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.country_info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.top {
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
}

.detail {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-black);
}
