@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Poppins:wght@300;500;700&display=swap');

:root {
  /* --primary-clr: #21b6b7; */

  --text-primary: #b3c5cd;
  --text-secondary: #b9c9d1;
  --text-dark: #124a63;
  --text-black: #000;
  --text-333: #333;

  --bg-default: #f6f6f6;
  --bg-light: #fafafa;
  --bg-dark: #252329;
  --bg-blue: #eef3f6;
  --bg-white: #fff;

  --bar-primary: #f2f5f7;
  --bar-secondary: #21b6b7;

  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] {
  --bg-default: #252329;
  --bg-white: #3c393f;
  --text-dark: #fff;
  --bg-blue: #3c393f;
  --text-333: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-default);
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
