.container {
  padding: 35px 0;
  margin: 0 120px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.light_theme {
  position: absolute;
  left: 1rem;
  top: 10.5rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-dark);
}

.dark_theme {
  position: absolute;
  left: 1rem;
  top: 10.5rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
}
