.container {
  padding: 35px 0;
  margin: 0 120px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.light_theme {
  position: absolute;
  left: 1rem;
  top: 5rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark_theme {
  position: absolute;
  left: 1rem;
  top: 5rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .light_theme {
    left: -4rem;
  }
  .dark_theme {
    left: -4rem;
  }
}
